@import "reset";
@import url(https://allfont.ru/allfont.css?fonts=franklin-gothic-demi-cond);

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  --link-color:#0085b8;
  --header-font-color: #ffffff;
  --border-color: #6d6d6d;
  --bg-main-menu: #ffffff;
  --bg:#2c2c2c;
  --bg-form-search:#636363;
  --sidebar-header-color:#333333;
  --sedebar-menu-link-color:#424242;
  --bg-sub-footer-color:#070707;
  --bg-footer-color:#000000;
  --footer-text-color:#484848;
  --footer-header-color:#cdcdcd;

  .wrapper-site {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
      display: flex;
      max-width: 1000px;
      width: 100%;
      align-self: none;
      height: 60px;
      border-top: 1px solid var(--border-color);
      margin-top: -61px;

      .stab-logo {
        display: flex;
        flex: 1 1 660px;
        border-bottom: 1px solid var(--border-color);

        .logo {
          display: flex;
          flex: 0 0 330px;
          height: 60px;
          align-items: center;
          %logo-font {
            font-family: "Franklin Gothic Medium";
            font-size: 24px;
            font-weight: bold;
            color: var(--header-font-color);
          }

          background: linear-gradient(to right, #33b2d9, #0097c9);

          img {
            width: 47px;
            height: 45px;
            margin: 7px 10px 8px 20px;
          }

          .txt {
            @extend %logo-font;
          }

          .sup {
            @extend %logo-font;
            font-size: 8px;
            padding-bottom: 10px;
          }

          .plus {
            @extend %logo-font;
            font-size: 114px;
            position: relative;
            left: 25px;
          }
        }

        .tagline {
          display: flex;
          flex: 1 1 330px;
          justify-content: center;
          align-items: center;
          height: 60px;

          padding: 0 10px 0 40px;
          background: linear-gradient(to right, #1f1f1f, #0b0b0b);

          .tagline-link {
            font-family: "Franklin Gothic Medium";
            font-size: 12px;
            color: var(--header-font-color);
            text-decoration: none;
          }
        }
      }

      .search {
        display: flex;
        flex: 0 0 330px;
        align-items: center;
        height: 60px;
        background-color: var(--bg);

        .search {
          flex: 0 0 50px;
          font-family: "Franklin Gothic Medium";
          font-size: 13px;
          color: var(--header-font-color);
          margin: 0 0 0 20px;
        }

        form {
          flex: 1 1 220px;
          height: 30px;
          display: flex;
          margin: 0 20px;

          %input-font {
            /* extend: font in the search box */
            color: #c5c2c0;
            font-size: 12px;
            font-style: italic;
            font-family: Arial;
          }

          input[type="search"] {
            border: 2px solid var(--border-color);
            border-right: hidden;
            outline: none;
            flex: 1 1 180px;
            background: var(--bg-form-search);
            padding-left: 10px;
            @extend %input-font;

            &::placeholder {
              @extend %input-font;
            }
          }

          input[type="submit"] {
            flex: 0 0 40px;
            border: 2px solid var(--border-color);
            border-left: hidden;
            background: url(../images/header/Search-Icon-copy1.png) no-repeat
              50% 50%;
            background-color: var(--bg-form-search);
            cursor: pointer;
          }
        }
      }

      @media screen and (max-width: 800px) {
        height: 120px;
        flex-wrap: wrap;
        .search {
          flex: 1 0 330px;
        }
      }
    }

    main {
      display: grid;
      grid-template-columns: auto 330px;
      grid-template-areas: "cntnt sdbr";

      max-width: 1000px;
      background-color: var(--bg-main-menu);

      .content {
        grid-area: cntnt;
        padding: 30px 20px 20px 20px;
        font-family: Arial;
        font-size: 13px;

        .content-photo {
          max-width: 100%;
          height: auto;
          float: left;
          margin: 0 20px 20px 0;
        }

        .menu {
          .content-nav {
            display: flex;
            padding: 0;
            margin: 10px 0 0 0;
            list-style: none;
            @media screen and (max-width: 900px) and (min-width: 801px),
              (max-width: 578px) {
              flex-direction: column;
            }

            .content-nav-child {
              .content-nav-btn {
                text-decoration: none;
                color: var(--link-color);
                font-size: 14px;
                font-family: Arial;
              }

              &::after {
                content: "/";
                margin: 0 7px;
              }

              &:last-child::after {
                content: none;
              }
            }
          }
        }

        h2 {
          font-family: Arial;
          font-weight: bold;
          font-size: 30px;
          margin: 20px 0;
          line-height: 30px;
        }

        p {
          margin: 20px 0 0 0;

          &:first-of-type {
            margin-bottom: 40px;
          }
        }

        .ul-none {
          list-style: none;
        }

        ol {
          padding: 0 0 0 40px;
          margin: 13px 0;
        }

        .ul-dot {
          list-style: "*  ";
          margin: 13px 0 50px 0;
          padding: 0 0 0 40px;
        }

        .text-ind {
          text-indent: 25px;
        }
      }

      .sidebar {
        display: grid;
        grid-template-rows: repeat(31, 50px);
        grid-area: sdbr;
        background-color: #e9e5e4;
        $border-sbar: 1px #d2cecd solid;

        .subscribe {
          /*need JS for onclick event*/
          grid-row: 1/2;
          display: flex;
          align-items: center;
          padding: 0 18px 0 18px;
          justify-content: space-between;
          border: $border-sbar;
          background-image: url(../images/RSSIcon.png);
          background-repeat: no-repeat;
          background-position: 95% 50%;
          cursor: pointer;
          width: 330px;

          .subscribe-link {
            font-family: Arial;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            color: var(--sidebar-header-color);
          }
        }

        .banners {
          grid-row: 2/9;
          padding: 10px;
          font-family: Arial;
          font-size: 10px;
          border: $border-sbar;
          text-decoration: none;
          width: 330px;

          .banner {
            float: left;
            margin: 9px;
          }

          .banners-link {
            text-decoration: none;
            color: var(--sedebar-menu-link-color);

            &:last-child {
              margin: 0 0 0 50px;
            }
          }
        }

        .navigation {
          grid-row: 9/17;
        }

        .community {
          grid-row: 17/25;
        }

        .navigation,
        .community {
          border: $border-sbar;
          padding: 10px 18px;
          width: 330px;

          h3 {
            font-family: Arial;
            font-weight: bold;
            font-size: 24px;
            color: var(--sidebar-header-color);
          }

          .menu-box {
            border: $border-sbar;
            width: 290px;
            height: 322px;

            .topmenu {
              display: flex;
              list-style: none;
              height: 40px;

              .one,
              .two,
              .three,
              .four {
                border-bottom: $border-sbar;
                position: relative;
                width: 72px;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .nav-btn,
                .link-count,
                .nav-btn-child {
                  font-family: Arial;
                  font-size: 12px;
                  font-weight: normal;
                  text-decoration: none;
                  color: var(--sedebar-menu-link-color);
                }

                .submenu {
                  font-size: 10px;
                  position: absolute;
                  padding: 0 10px 0 10px;
                  top: 40px;
                  left: 1px;
                  background-color: var(--bg-main-menu);

                  &.one1 {
                    left: 0px;
                  }
                  &.two2 {
                    left: -73px;
                  }
                  &.three3 {
                    left: -145px;
                  }
                  &.four4 {
                    left: -217px;
                  }
                  &.hidden {
                    display: none;
                  }

                  .submenu-child {
                    display: flex;
                    width: 268px;
                    height: 35px;
                    padding: 0 3px 0 3px;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px #d8d8d8 solid;

                    &:last-child {
                      border: none;
                    }
                  }
                }
              }              

              .default-menu-tab{
                /*default menu tab*/
                background-color: var(--bg-main-menu);
                  border-right: $border-sbar;
                  border-bottom: none;
              }

              .one:hover,
              .two:hover,
              .three:hover,
              .four:hover {
                .submenu {
                  display: block;
                }
                & {
                  background-color: var(--bg-main-menu);
                  border-left: $border-sbar;
                  border-right: $border-sbar;
                  border-bottom: none;
                }
                &:last-child {
                  border-right: none;
                }
                &:first-child {
                  border-left: none;
                }
              }
            }
          }
        }

        .nikon {
          grid-row: 25/32;
          background-image: url(../images/nikon.png);
          background-repeat: no-repeat;
          background-position: center center;
          border: $border-sbar;
          width: 330px;

          .nikon-link {
            font-family: Arial;
            font-size: 12px;
            text-decoration: none;
            color: var(--sedebar-menu-link-color);
            position: relative;
            top: 78%;
            left: 35%;
          }
        }

        @media screen and (max-width: 800px) and (min-width: 661px) {
          grid-template-rows: repeat(15, 50px);
          grid-template-columns: 50% 50%;
          .subscribe {
            grid-area: 15/2/16/3;
            border: none;
          }
          .navigation {
            grid-area: 1/1/9/2;
            border: none;
          }
          .community {
            grid-area: 1/2/9/3;
            border: none;
          }
          .banners {
            grid-area: 9/1/16/2;
            border: none;
          }
          .nikon {
            grid-area: 9/2/15/3;
            border: none;
          }
        }

        @media screen and (max-width: 660px) {
          grid-template-rows: repeat(31, 50px);
          grid-template-columns: auto;
          .subscribe {
            grid-row: 1/2;
            justify-self: center;
            border: none;
          }
          .navigation {
            grid-row: 9/17;
            justify-self: center;
            border: none;
          }
          .community {
            grid-row: 17/25;
            justify-self: center;
            border: none;
          }
          .banners {
            grid-row: 2/9;
            justify-self: center;
            border: none;
          }
          .nikon {
            grid-row: 25/32;
            justify-self: center;
            border: none;
          }
        }
      }

      @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
        grid-template-areas:
          "cntnt"
          "sdbr";
      }
    }

    footer {
      max-width: 1000px;
      background-color: var(--bg-footer-color);
      font-family: Arial;
      font-size: 15px;
      color: var(--footer-text-color);

      .footer-link {
        color: var(--link-color);
        text-decoration: none;
      }

      .subfooter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        align-content: space-between;
        grid-template-areas:
          "twitter about friends"
          "twitter write friends";

        min-height: 465px;
        background-color: var(--bg-sub-footer-color);
        font-size: 13px;
        %icon-style {
          .footer-header-icon {
            float: left;
            margin: 0 5px 0 0;
          }
        }

        h3 {
          color: var(--footer-header-color);
          font-family: Arial;
          font-weight: bold;
          font-size: 20px;
        }

        .footer-list {
          list-style: none;
          min-width: 100%;
          padding: 0;

          .footer-list-child {
            border-bottom: 1px solid #1b1b1b;
            padding: 10px 0 10px 0;

            &:last-child {
              border-bottom: none;
            }
          }
        }

        .twitter-updates {
          grid-area: twitter;
          padding: 20px;
          @extend %icon-style;
        }

        .about-us {
          grid-area: about;
          @extend %icon-style;
          padding: 20px;
          .footer-txt {
            margin: 20px 0 20px 0;
          }
        }

        .write-for-us {
          grid-area: write;
          @extend %icon-style;
          padding: 20px;
          .footer-txt {
            margin: 20px 0 20px 0;
          }
        }

        .our-friends {
          grid-area: friends;
          @extend %icon-style;
          padding: 20px;
        }

        @media screen and (max-width: 750px) {
          grid-template-columns: 1fr 1fr;
          grid-template-areas:
            "twitter friends"
            "twitter friends"
            "about write";
        }

        @media screen and (max-width: 550px) {
          grid-template-columns: 330px;
          justify-content: center;
          grid-template-rows: repeat(4, 1fr);
          grid-template-areas:
            "twitter"
            "twitter"
            "friends"
            "friends"
            "about"
            "write";
        }
      }

      .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 55px;

        %margin-r {
          .footer-txt {
            margin-right: 5px;
          }
        }

        .copyright {
          margin: 0 auto 0 25px;
        }

        .powered {
          display: flex;
          width: 180px;
          margin: 0 0 0 25px;
          @extend %margin-r;

          &::after {
            content: "\00b7";
            margin-left: 10px;
          }
        }

        .theme {
          display: flex;
          width: 160px;
          @extend %margin-r;
        }
      }

      @media screen and (max-width: 620px) {
        .footer {
          .powered {
            flex-direction: column;
            &::after {
              content: none;
            }
          }
          .theme {
            flex-direction: column;
          }
        }
      }
    }
  }

  .black {
    background-color: #070707;
    height: 80px;
    @media (max-width: 1000px) {
      height: 60px;
    }
  }
}
